@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

h1,
h2, h4, h5, h6 {
    font-family: 'Ruthie', cursive;
}

h3,
button {
    font-family: 'Montserrat', sans-serif;
}

.rotating-element {
    animation: rotate 7s linear infinite;
    /* rotate for 2 seconds in a linear manner, infinitely */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.splide-track-story {
    height: 500px !important;
}

p,
.font-p,
body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body p {}

body {}

.splide__track {
    height: 55px;
}

.pojok-kiri-atas1 {
    position: absolute;
    width: 500px;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 1 !important;
    /* transition: all 1s; */
    /* transform: rotate(-20deg); */
}

.kanan-bawah {
    width: 500px !important;
    right: 0px;
    position: absolute;
    float: right;
    bottom: 0px;
    z-index: 1 !important;
    pointer-events: none;
}

.button-fun {
    padding: 8px;
    width: 100%;
    border: 2px solid rgb(39, 39, 39);
    background-color: transparent;
    color: rgb(64, 64, 64);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
}

.button-fun:hover {
    transform: scale(1.05);
}

.container1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.pages1 {
    /* display: flex;
        width: 400%; */
    box-sizing: border-box;
    text-align: center;
}

.page1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* transition: all 0.7s; */
    color: rgb(5, 5, 5);
    background: url('../images/SFL-2.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    contain: content;
    transition: transform 1s ease-in-out;
}

.one {
    /* background: orangered; */
}

.two {
    background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
        url('../images/ber2_2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    contain: content;
    color: #fff;
}

.three {
    background: url('../images/SFL-8.png');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    contain: content;
}

.four {
    background: url('../images/SFL-3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    contain: content;
}

.five {
    background: url('../images/SFL-6.png');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    contain: content;
}

.six {
    background: url('../images/SFL-5.png');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    contain: content;
}

.inner-contain {
    padding-left: 20px;
    padding-right: 20px;
}

.simply-countdown>.simply-section {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #000080;
    margin: 0 4px;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    animation: pulse 1s ease infinite;
    z-index: 1000;
}

.simply-countdown>.simply-section .simply-amount,
.simply-countdown>.simply-section .simply-word {
    color: rgb(255, 255, 255) !important;
}

.simply-amount {
    font-size: 20px !important;
    margin-top: -25px;
}

.simply-word {
    font-size: 10px !important;
}

.mempelai-desc p {
    font-size: 12px
}

.d-flex {
    display: flex !important;
}

.btn-primary {
    background: #3d3c3a;
    ;
    color: rgb(30, 30, 30);
    border: 2px solid #3d3c3a;
    ;
}

.menu-app {
    position: fixed;
    bottom: 67px;
    left: 10px;
    background-color: #9b96ffad;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.menu-app1 {
    position: fixed;
    bottom: 70px;
    left: 70px;
    background-color: #9b96ffad;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.bubble1 {
    height: auto;
    width: 115px;
    min-width: auto;
    background: #9b96ffad;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
    padding: 3px 8px;
    color: #fff;
}

.pointer1 {
    height: 28px;
    width: 20px;
    background: #9b96ffad;
    margin: 0 auto;
    transform: rotate(45deg);
    border-radius: 0 0 3px 0;
    margin-top: -22px;
    position: relative;
    z-index: -1;
    left: calc(-6.5vw - 5px);
}

.overlayy {
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000021 0%, #000000 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    opacity: 1;
    left: 0;
    pointer-events: none;
}

#aca-fun-h1-id1, #aca-fun-h1-id12, .susunan-h1, #titip-hadiah-tem2, #kehadiran_text, .nama_acara {
    font-size: 45px !important;
    color: #fff;
}

#box-1-date-id1, .hari_acara {
    color: #ffffff;
}

#conference-timeline .timeline-start, #conference-timeline .timeline-end {
    background-color: white;
}

.timeline-article p {
    color: white !important;
}

.timeline-article hr {
    border: 1px dashed white !important;
}

.article-number-right svg path,
.article-number-left svg path {
    fill: white !important;
}

#conference-timeline .conference-center-line {
    background: white !important;
}

#div-story-id1 h1,
#div-story-id1 h3,
#savedate-fun-h1-id1 {
    color: #fff;
}

#our-gallery-id4,
#our-gallery-id3,
#our-gallery-id1 {
    font-size: 45px !important;
    margin-bottom: 10px;
    color: #fff !important;
}

.form-ucapan {
    margin-bottom: 20px;
}

#c-hadiah-id {
    color: white;
}

.mempelai-desc p {
    color: #ffffff;
}

html, body {
    overflow-x: hidden;
}

img {
    pointer-events: none;
}


.form-label {
    font-size: 12px !important;
}

@font-face {
    font-family: "Java";
    src: url('fonts/Javassoul.ttf') format("truetype");
}

@font-face {
    font-family: "Paisley";
    src: url('fonts/Paisley.otf') format("truetype");
}

.box-shadow-new {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");

.svg-loading {
    font-family: "Joan", sans-serif;
    width: 100%;
    height: 100%;
}

.svg-loading text {
    animation: stroke 3s infinite alternate;
    stroke-width: 0;
    stroke: #009cd9;
    font-size: 35px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 1;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 1.5;
    }

    100% {
        fill: rgba(72, 138, 204, 1);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.elemen-tambah-edit {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    flex-direction: column;
}

.elemen-tambah-edit-text {
    display: flex;
    font-size: 12px;
    color: #aaaaaa;
    font-style: italic;
}

.elemen-tambah-edit-svg {
    margin-top: 3px;
    margin-right: 5px;
}

@media (min-width: 768px) {
    .fix-menu {
        max-width: 400px !important;
    }
}

/* Custom scrollbar for Webkit browsers */
div::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f0f0;
}

div::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}